<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Chart - Average map play count
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      <f7-list>
        <f7-list-item>
          <f7-button icon-material="filter_list" v-on:click="toggleFilters">Filters</f7-button>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell><f7-label>Only official maps</f7-label></f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item checkbox name="officialMapsOnly" @change="officialMapsChange" :checked="filters.officialMapsOnly"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
      </f7-list>
    </f7-block>
    <f7-block class="chart-container">
      <alternate-color-chart
        v-if="loaded"
        :height="height"
        :chartData="data.countMaps"
        :chartLabels="labels"
        dataLabel="Average plays in a day"
        :chartOptions="options"
        :colorPosition="data.officialMaps"
      />
    </f7-block>
    <f7-block-title>Description</f7-block-title>
    <f7-block>
        <p>This chart displays the average number of times a map has been played. (If a player played the map 20 times in a day that ONLY counts as 1 but if they replayed that same map on a different day as well, that counts as 2 in total.)</p>
        <p>The "Y" axes is composed of multiple element. The caves name, the maps name and the age of the map. <br />
        The official map are in <span class="square" :style="officialColor"></span> and the unofficial maps are in <span class="square" :style="unofficialColor"></span>.</p>
    </f7-block>
    <f7-block-title>How to use</f7-block-title>
    <f7-block>
      With the filters, the user can modify which maps are displayed (official only or both).<br/>
      Hovering over or holding a section will give the user the average number of time that map has been played in a day as well as the total number of time it has been played.
    </f7-block>
  </f7-page>
</template>

<script>
  import Config from '../config';
import AlternateColorChart from '../components/AlternateColorChart';
import Axios from 'axios';
import Helpers from '../helpers';

export default {
  name: 'AveragePlayMap',
  components: {
    AlternateColorChart
  },
  data() {
    let self = this;
    return {
      loaded: false,
      data: {
        countMaps: [],
        officialMaps: [],
        totalCount: []
      },
      labels: [],
      options: {
        maintainAspectRatio: false,
        animation: false,
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            type: 'logarithmic',
            ticks: {
              min: 0,
              callback(value, index, values) {
                return Number(value.toString());
              }
            }
          }]
        },
        tooltips: {
          callbacks: {
            label(tooltipItem, data) {
              return data.datasets[tooltipItem.datasetIndex].label + ': ' + tooltipItem.xLabel + ' (' + self.data.totalCount[tooltipItem.index] + ' total)';
            }
          }
        }
      },
      filters: {
        visible: false,
        officialMapsOnly: true
      }
    };
  },
  computed: {
    height() {
      let height = 75 + 25 * this.data.countMaps.length;
      if (height > 32767 / window.devicePixelRatio) return 32767 / window.devicePixelRatio;
      return height;
    },
    officialColor() {
      return 'background: rgba(' + Config.colors[0] + ',0.4); border: 2px solid rgba(' + Config.colors[0] + ',1);';
    },
    unofficialColor() {
      return 'background: rgba(' + Config.colors[1] + ',0.4); border: 2px solid rgba(' + Config.colors[1] + ',1);';
    }
  },
  mounted() {
    this.requestData();
  },
  methods: {
    resetState() {
      this.loaded = false;
      this.data.countMaps.splice(0,this.data.countMaps.length);
      this.data.officialMaps.splice(0,this.data.officialMaps.length);
      this.data.totalCount.splice(0,this.data.totalCount.length);
      this.labels.splice(0,this.labels.length);
    },
    officialMapsChange(event) {
      this.filters.officialMapsOnly = event.target.checked;
      this.requestData();
    },
    requestData() {
      this.resetState();
      Axios.get(Config.apiUrl + 'api/maps/played').then(response => {
        let responseData = response.data;
        responseData.forEach(obj => {
          if (this.filters.officialMapsOnly && obj.official) {
            this.data.countMaps.push(obj.plays_per_day);
            this.data.officialMaps.push(obj.official);
            this.labels.push(obj.cave_name + ' - ' + obj.map_name + ' (' + obj.age + ')');
            this.data.totalCount.push(obj.total_plays);
          } else if (!this.filters.officialMapsOnly) {
            this.data.countMaps.push(obj.plays_per_day);
            this.data.officialMaps.push(obj.official);
            this.labels.push(obj.cave_name + ' - ' + obj.map_name + ' (' + obj.age + ')');
            this.data.totalCount.push(obj.total_plays);
          }
        });
        this.loaded = true;
      })
      .catch(error => {
        Helpers.axiosErrorHandler.call(this, error);
      });
    },
    toggleFilters() {
      this.filters.visible = !this.filters.visible;
    }
  }
};
</script>
