<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Chart - Players in a day
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      <f7-list form>
        <f7-list-item>
          <f7-button icon-material="filter_list" v-on:click="toggleFilters">Filters</f7-button>
          {{displayRangeDate}}
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-label>Date range</f7-label>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <date-picker
                  v-model="filters.rangeDate"
                  lang="en"
                  :first-day-of-week="1"
                  range
                  format="dd.MM.yyyy"
                  confirm
                  @change="requestData"
                  :placeholder="displayRangeDate"
                  range-separator="-"
                  :shortcuts="false"
                />
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell><f7-label>Chart starts at 0</f7-label></f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item checkbox name="startAtZero" @change="startZeroChange" :checked="filters.startAtZero"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
      </f7-list>
    </f7-block>
    <f7-block class="chart-container">
      <complex-horizontal-bar-chart
        v-if="loaded"
        :height="height"
        :chartData="[data.countPlayers]"
        :chartLabels="labels"
        :dataLabel="['Number of players']"
        :chartOptions="options"
      />
    </f7-block>
    <f7-block-title>Description</f7-block-title>
    <f7-block>
        This chart displays the number of unique players that played on that day. <br />
        If one player played multiple maps they are only counted once.
    </f7-block>
    <f7-block-title>How to use</f7-block-title>
    <f7-block>
      With the filters, the user can modify the time period and decide if the "X" axes starts at 0.<br/>
      Hovering over or holding a section will give the user the number of players in that section.
    </f7-block>
  </f7-page>
</template>

<script>
import Config from '../config';
import ComplexHorizontalBarChart from '../components/ComplexHorizontalBarChart';
import Axios from 'axios';
import DatePicker from 'vue2-datepicker';
import Helpers from '../helpers';

export default {
  name: 'PlayersDay',
  components: {
    ComplexHorizontalBarChart,
    DatePicker
  },
  data() {
    return {
      loaded: false,
      data: {
        countPlayers: []
      },
      labels: [],
      filters: {
        visible: false,
        startAtZero: true,
        // rangeDate: ['', Helpers.formatDate()]
        rangeDate: [Helpers.formatDate('2018-04-20'), Helpers.formatDate('2018-04-27')]
      }
    };
  },
  computed: {
    height() {
      let height = 75 + 25 * this.data.countPlayers.length;
      if (height > 32767 / window.devicePixelRatio) return 32767 / window.devicePixelRatio;
      return height;
    },
    options() {
      var options = {};
      options.maintainAspectRatio = false;
      options.legend = {
        position: 'bottom'
      };
      if (this.filters.startAtZero) {
        options.scales = {
          xAxes: [{
            ticks: {
              min: 0
            }
          }]
        };
      }
      return options;
    },
    displayRangeDate() {
      return Helpers.formatDate(this.filters.rangeDate[0], 'DD.MM.YYYY') + ' - ' + Helpers.formatDate(this.filters.rangeDate[1], 'DD.MM.YYYY');
    }
  },
  beforeMount() {
    // Done here because 'this.filters.rangeDate[1]' is 'null' in the 'data()'
    // this.filters.rangeDate = [Helpers.formatDate(this.filters.rangeDate[1]).subtract(7, 'days'), this.filters.rangeDate[1]];
  },
  mounted() {
    this.requestData();
  },
  methods: {
    resetState() {
      this.loaded = false;
      this.data.countPlayers.splice(0, this.data.countPlayers.length);
      this.labels.splice(0, this.labels.length);
    },
    startZeroChange(event) {
      this.filters.startAtZero = event.target.checked;
      this.requestData();
    },
    requestData() {
      this.resetState();
      Axios.get(Config.apiUrl + 'api/players/day/' + Helpers.formatDate(this.filters.rangeDate[0]) + '/' + Helpers.formatDate(this.filters.rangeDate[1])).then(response => {
        var responseData = response.data;
        this.data.countPlayers = responseData.map(obj => obj.nb_players);
        this.labels = responseData.map(obj => Helpers.formatDate(obj.date, 'ddd DD.MM.YYYY'));
        this.loaded = true;
      })
      .catch(error => {
        Helpers.axiosErrorHandler.call(this, error);
      });
    },
    toggleFilters() {
      this.filters.visible = !this.filters.visible;
    }
  }
};
</script>
