<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Chart - Number fails before first win per map for a player
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      <f7-list>
        <f7-list-item>
          <f7-button icon-material="filter_list" v-on:click="toggleFilters">Filters</f7-button>
          {{filters.selected.username}}
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell><f7-label>Column</f7-label></f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="filtersColumn" value="map_name" title="Map name" @change="filterChange($event,'column',0)" :checked="filters.column.selected[0]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="filtersColumn" value="fails" title="Fails" @change="filterChange($event,'column',1)" :checked="filters.column.selected[1]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="filtersColumn" value="finished" title="Finished" @change="filterChange($event,'column',2)" :checked="filters.column.selected[2]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell><f7-label>Order</f7-label></f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="filtersOrder" value="asc" title="Ascending" @change="filterChange($event,'order',0)" :checked="filters.order.selected[0]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="filtersOrder" value="desc" title="Descending" @change="filterChange($event,'order',1)" :checked="filters.order.selected[1]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell><f7-label>Search username</f7-label></f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-input :value="filters.search.username" @input="filters.search.username = $event.target.value" type="text" @keyup.native="searchUsernameChange" autofocus/>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
        <f7-list-item v-if="filters.search.list.length > 0 && filters.visible" v-for="playerRow in filters.search.list" :key="playerRow.id">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell v-for="player in playerRow" :key="player.id" @click.native="userSelectClick(player.user_id, player.username)">
                <span class="pointer">{{player.username}}</span>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
      </f7-list>
    </f7-block>
    <f7-block class="chart-container">
      <alternate-color-chart
        v-if="loaded"
        :height="height"
        :chartData="data.countFails"
        :chartLabels="labels"
        dataLabel="Number of fails"
        :chartOptions="options"
        :colorPosition="data.finishedMaps"
      />
    </f7-block>
    <f7-block-title>Description</f7-block-title>
    <f7-block>
        <p>This chart displays the number of fails before the first success of a specific player on a map.<br />
        It also displays the number of fails of a map even if it hasn't been completed successfully.</p>
        <p>The "Y" axes is composed of multiple element. The caves name and the maps name. <br />
        The finished maps are in <span class="square" :style="finishedColor"></span> and the unfinished maps are in <span class="square" :style="unfinishedColor"></span>.</p>
    </f7-block>
    <f7-block-title>How to use</f7-block-title>
    <f7-block>
      With the filters, the user can modify which players data is being shown, sort the data with different options.<br/>
      Hovering over or holding a section will give the user the number of of fails before the first successful map completion.
    </f7-block>
  </f7-page>
</template>

<script>
import Config from '../config';
import AlternateColorChart from '../components/AlternateColorChart';
import Axios from 'axios';
import Helpers from '../helpers';

export default {
  name: 'AveragePlayMap',
  components: {
    AlternateColorChart
  },
  data() {
    let self = this;
    return {
      loaded: false,
      data: {
        countFails: [],
        finishedMaps: []
      },
      labels: [],
      options: {
        maintainAspectRatio: false,
        animation: false,
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            type: 'logarithmic',
            ticks: {
              min: 0,
              callback(value, index, values) {
                return Number(value.toString());
              }
            }
          }]
        },
        tooltips: {
          callbacks: {
            label(tooltipItem, data) {
              return data.datasets[tooltipItem.datasetIndex].label + ': ' + tooltipItem.xLabel + ' (' + (self.data.finishedMaps[tooltipItem.index] ? 'Escaped' : 'Trapped') + ')';
            }
          }
        }
      },
      filters: {
        visible: true,
        search: {
          username: '',
          list: []
        },
        selected: {
          userId: -1,
          username: ''
        },
        column: {
          current: 'map_name',
          selected: [true, false, false]
        },
        order: {
          current: 'asc',
          selected: [true, false]
        }
      }
    };
  },
  computed: {
    height() {
      let height = 75 + 25 * this.data.countFails.length;
      if (height > 32767 / window.devicePixelRatio) return 32767 / window.devicePixelRatio;
      return height;
    },
    finishedColor() {
      return 'background: rgba(' + Config.colors[0] + ',0.4); border: 2px solid rgba(' + Config.colors[0] + ',1);';
    },
    unfinishedColor() {
      return 'background: rgba(' + Config.colors[1] + ',0.4); border: 2px solid rgba(' + Config.colors[1] + ',1);';
    }
  },
  methods: {
    resetState() {
      this.loaded = false;
      this.data.countFails.splice(0, this.data.countFails.length);
      this.data.finishedMaps.splice(0, this.data.finishedMaps.length);
      this.labels.splice(0, this.labels.length);
    },
    searchUsernameChange() {
      this.filters.search.list.splice(0, this.filters.search.list.length);
      if (this.filters.search.username === '') return;
      Axios.get(Config.apiUrl + 'api/players/search/' + this.filters.search.username).then(response => {
        let responseData = response.data;
        let players = [];
        for (const key in responseData) {
          if (responseData.hasOwnProperty(key)) {
            players.push(responseData[key]);
          }
        }
        players.sort((a, b) => {
          return a.username.localeCompare(b.username, 'en', {
            'sensitivity': 'base'
          });
        });
        let final = [];
        for (let i = 0; i < players.length; i += 2) {
          let buildTable = [];
          buildTable.push(players[i]);
          if (i + 1 < players.length) buildTable.push(players[i + 1]);
          final.push(buildTable);
        }
        this.filters.search.list = final;
      });
    },
    userSelectClick(userId, username) {
      this.toggleFilters();
      this.filters.selected.userId = userId;
      this.filters.selected.username = username;
      this.requestData();
    },
    filterChange(event, filter, index) {
      this.filters[filter].selected.fill(false);
      this.filters[filter].selected[index] = true;
      this.filters[filter].current = event.target.value;
      if (this.filters.selected.userId !== -1) this.requestData();
    },
    requestData() {
      this.resetState();
      Axios.get(Config.apiUrl + 'api/players/wins_fails/' + this.filters.selected.userId).then(response => {
        let responseData = response.data;
        if (responseData.length === 0) {
          Helpers.f7Alert.call(this, 'No data', `The player "${this.filters.selected.username}" hasn't played a map yet.`);
          return;
        }
        responseData.sort((a, b) => {
          if (this.filters.order.current === 'desc') {
            return b[this.filters.column.current].toString().localeCompare(a[this.filters.column.current].toString(), 'en', {
              'sensitivity': 'base',
              'numeric': true
            });
          } else {
            return a[this.filters.column.current].toString().localeCompare(b[this.filters.column.current].toString(), 'en', {
              'sensitivity': 'base',
              'numeric': true
            });
          }
        });
        responseData.forEach(obj => {
          this.data.countFails.push(obj.fails);
          this.data.finishedMaps.push(obj.finished);
          this.labels.push(obj.cave_name + ' - ' + obj.map_name);
        });
        this.filters.search.username = '';
        this.filters.search.list.splice(0, this.filters.search.list.length);
        this.loaded = true;
      })
      .catch(error => {
        Helpers.axiosErrorHandler.call(this, error);
      });
    },
    toggleFilters() {
      this.filters.visible = !this.filters.visible;
    }
  }
};
</script>
