<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Chart - Frequency of players
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      <f7-list form>
        <f7-list-item>
          <f7-button icon-material="filter_list" v-on:click="toggleFilters">Filters</f7-button>
          {{currentFormattedZone(filters.timePeriod.selectedPeriod)}}
        </f7-list-item>
        <f7-list-item v-if="filters.visible && filters.timePeriod.currentRadio != 'day'" smart-select :smart-select-params="{ closeOnSelect: true }" :title="capitalizeFirstLetter(filters.timePeriod.currentRadio)">
          <select name="fruits" v-model="filters.timePeriod.selectedPeriod" @change="selectChange">
            <option v-for="zone in filters.timePeriod.list" :key="zone.id" :value="zone">{{currentFormattedZone(zone)}}</option>
          </select>
        </f7-list-item>
        <f7-list-item v-if="filters.visible && filters.timePeriod.currentRadio == 'day'">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-label>Date</f7-label>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <date-picker v-model="filters.timePeriod.selectedPeriod" :first-day-of-week="1" lang="en" format="dd.MM.yyyy" @change="dateChange"/>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell><f7-label>Zone</f7-label></f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="zoneType" value="day" title="Day" @change="zoneChange($event,0)" :checked="filters.timePeriod.selectedRadio[0]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="zoneType" value="week" title="Week" @change="zoneChange($event,1)" :checked="filters.timePeriod.selectedRadio[1]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="zoneType" value="month" title="Month" @change="zoneChange($event,2)" :checked="filters.timePeriod.selectedRadio[2]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell><f7-label>Type</f7-label></f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="returnType" value="count" title="Count" @change="typeChange($event, 0)" :checked="filters.returnType.selected[0]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="returnType" value="time" title="Time" @change="typeChange($event, 1)" :checked="filters.returnType.selected[1]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-label>First section</f7-label>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-label inline>Start</f7-label>
                <f7-input type="number" :value="filters.section.current[filters.returnType.current][0]" @input="filters.section.current[filters.returnType.current].splice(0, 1, $event.target.value)" @change="s1FirstChange(false)" />
              </f7-list-item-cell>
              <f7-list-item-cell>
                <f7-label inline>End</f7-label>
                <f7-input type="number" :value="filters.section.current[filters.returnType.current][1]" @input="filters.section.current[filters.returnType.current].splice(1, 1, $event.target.value)" @change="s1LastChange(false)" />
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-label>Second section</f7-label>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-label inline>Start</f7-label>
                <f7-input type="number" :value="filters.section.current[filters.returnType.current][2]" @input="filters.section.current[filters.returnType.current].splice(2, 1, $event.target.value)" @change="s2FirstChange(false)" />
              </f7-list-item-cell>
              <f7-list-item-cell>
                <f7-label inline>End</f7-label>
                <f7-input type="number" :value="filters.section.current[filters.returnType.current][3]" @input="filters.section.current[filters.returnType.current].splice(3, 1, $event.target.value)" @change="s2LastChange(false)" />
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
      </f7-list>
    </f7-block>
    <f7-block class="chart-container">
      <simple-pie-chart
        v-if="loaded"
        :chartData="data.frequency"
        :chartLabels="labels"
        :chartOptions="options"
      />
    </f7-block>
    <f7-block-title>Description</f7-block-title>
    <f7-block>
      <p>This chart displays the number of players that have played a certain number of time or a certain number of minutes during a given period of time.</p>
    </f7-block>
    <f7-block-title>How to use</f7-block-title>
    <f7-block>
      <p>With the filters, the user can modify the given time period, the lower/upper limits of the 2 sections of the chart and if the sections are sessions or minutes.</p>
      <p>By clicking on a section of the chart a new page will be opened with the list of players of that section. Hovering over or holding a section will give the user the percentage of the players in that section and the total number of players in it.</p>
    </f7-block>
  </f7-page>
</template>

<script>
import Config from '../config';
import SimplePieChart from '../components/SimplePieChart';
import Axios from 'axios';
import moment from 'moment';
import DatePicker from 'vue2-datepicker';
import Helpers from '../helpers';

export default {
  name: 'FrequencyPlayers',
  components: {
    SimplePieChart,
    DatePicker
  },
  data() {
    return {
      loaded: false,
      data: {
        countFrequency: [0, 0, 0],
        frequency: [0, 0, 0],
        players: [
          [],
          [],
          []
        ]
      },
      filters: {
        visible: false,
        timePeriod: {
          list: [],
          selectedPeriod: Helpers.formatDate(moment.now(), 'YYYYWW'),
          currentRadio: 'week',
          oldRadio: '',
          selectedRadio: [false, true, false]
        },
        returnType: {
          current: 'count',
          type: 'sessions',
          multiply: 1,
          selected: [true, false]
        },
        section: {
          default: {
            count: [1, 2, 3, 4],
            time: [1, 30, 31, 90]
          },
          current: {
            count: [1, 2, 3, 4],
            time: [1, 30, 31, 90]
          }
        }
      }
    };
  },
  computed: {
    labels() {
      switch (this.filters.returnType.current) {
        case 'count':
          this.filters.returnType.type = ' sessions';
          break;
        case 'time':
          this.filters.returnType.type = ' minutes';
          break;
        default:
          this.filters.returnType.type = '';
          break;
      }
      return [
        'have played between ' + this.filters.section.current[this.filters.returnType.current][0] + ' and ' + this.filters.section.current[this.filters.returnType.current][1] + this.filters.returnType.type,
        'have played between ' + this.filters.section.current[this.filters.returnType.current][2] + ' and ' + this.filters.section.current[this.filters.returnType.current][3] + this.filters.returnType.type,
        'have played more than ' + this.filters.section.current[this.filters.returnType.current][3] + this.filters.returnType.type
      ];
    },
    options() {
      let self = this;
      let options = Object.assign({}, Config.defaultChartOptions);
      options.legend = {
        position: 'bottom'
      };
      options.tooltips = {
        callbacks: {
          label(tooltipItem, data) {
            return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + '% (' + self.data.countFrequency[tooltipItem.index] + ' players)';
          }
        }
      };
      options.onClick = (event, element) => {
        if (element[0] === undefined) return;
        const app = self.$f7;
        let selectedPlayers = self.data.players[element[0]._index];
        let sectionTitle = element[0]._view.label;
        app.router.navigate('/playerlist/', {
          context: {
            selectedPlayers,
            sectionTitle
          }
        });
      };
      return options;
    }
  },
  mounted() {
    this.requestData();
  },
  methods: {
    resetState() {
      this.loaded = false;
      this.data.countFrequency.fill(0);
      this.data.frequency.fill(0);
      this.data.players = [
        [],
        [],
        []
      ];
    },
    s1FirstChange(call = false) {
      this.filters.section.current[this.filters.returnType.current].splice(0, 1, parseInt(this.filters.section.current[this.filters.returnType.current][0]));
      if (this.filters.section.current[this.filters.returnType.current][0] <= 0) {
        this.filters.section.current[this.filters.returnType.current].splice(0, 1, this.filters.section.default[this.filters.returnType.current][0]);
      }

      if (this.filters.section.current[this.filters.returnType.current][0] >= this.filters.section.current[this.filters.returnType.current][1]) {
        this.filters.section.current[this.filters.returnType.current].splice(1, 1, this.filters.section.current[this.filters.returnType.current][0] + 1);
        this.s1LastChange(true);
      }

      if (!call) {
        this.requestData();
      }
    },
    s1LastChange(call = false) {
      if (!call) {
        this.filters.section.current[this.filters.returnType.current].splice(1, 1, parseInt(this.filters.section.current[this.filters.returnType.current][1]));
        this.filters.section.current[this.filters.returnType.current].splice(2, 1, this.filters.section.current[this.filters.returnType.current][1] + 1);
        this.s2FirstChange(true);
      }

      if (this.filters.section.current[this.filters.returnType.current][1] <= 1) {
        this.filters.section.current[this.filters.returnType.current].splice(1, 1, this.filters.section.default[this.filters.returnType.current][1]);
      }

      if (this.filters.section.current[this.filters.returnType.current][1] <= this.filters.section.current[this.filters.returnType.current][0]) {
        this.filters.section.current[this.filters.returnType.current].splice(0, 1, this.filters.section.current[this.filters.returnType.current][1] - 1);
        this.s1FirstChange(true);
      }

      if (this.filters.section.current[this.filters.returnType.current][1] >= this.filters.section.current[this.filters.returnType.current][2]) {
        this.filters.section.current[this.filters.returnType.current].splice(2, 1, this.filters.section.current[this.filters.returnType.current][1] + 1);
        this.s2FirstChange(true);
      }

      if (!call) {
        this.requestData();
      }
    },
    s2FirstChange(call = false) {
      if (!call) {
        this.filters.section.current[this.filters.returnType.current].splice(2, 1, parseInt(this.filters.section.current[this.filters.returnType.current][2]));
        this.filters.section.current[this.filters.returnType.current].splice(1, 1, this.filters.section.current[this.filters.returnType.current][2] - 1);
        this.s1LastChange(true);
      }

      if (this.filters.section.current[this.filters.returnType.current][2] <= 2) {
        this.filters.section.current[this.filters.returnType.current].splice(2, 1, this.filters.section.default[this.filters.returnType.current][2]);
      }

      if (this.filters.section.current[this.filters.returnType.current][2] <= this.filters.section.current[this.filters.returnType.current][1]) {
        this.filters.section.current[this.filters.returnType.current].splice(1, 1, this.filters.section.current[this.filters.returnType.current][2] - 1);
        this.s1LastChange(true);
      }

      if (this.filters.section.current[this.filters.returnType.current][2] >= this.filters.section.current[this.filters.returnType.current][3]) {
        this.filters.section.current[this.filters.returnType.current].splice(3, 1, this.filters.section.current[this.filters.returnType.current][2] + 1);
        this.s2LastChange(true);
      }

      if (!call) {
        this.requestData();
      }
    },
    s2LastChange(call = false) {
      this.filters.section.current[this.filters.returnType.current].splice(3, 1, parseInt(this.filters.section.current[this.filters.returnType.current][3]));
      if (this.filters.section.current[this.filters.returnType.current][3] <= 3) {
        this.filters.section.current[this.filters.returnType.current].splice(3, 1, this.filters.section.default[this.filters.returnType.current][3]);
      }

      if (this.filters.section.current[this.filters.returnType.current][3] <= this.filters.section.current[this.filters.returnType.current][2]) {
        this.filters.section.current[this.filters.returnType.current].splice(2, 1, this.filters.section.current[this.filters.returnType.current][3] - 1);
        this.s2FirstChange(true);
      }

      if (!call) {
        this.requestData();
      }
    },
    zoneChange(event, index) {
      this.filters.timePeriod.selectedRadio.fill(false);
      this.filters.timePeriod.selectedRadio[index] = true;
      this.filters.timePeriod.currentRadio = event.target.value;
      this.requestData();
    },
    typeChange(event, index) {
      this.filters.returnType.selected.fill(false);
      this.filters.returnType.selected[index] = true;
      this.filters.returnType.current = event.target.value;
      this.requestData();
    },
    selectChange() {
      this.toggleFilters();
      this.requestData();
    },
    dateChange() {
      if (this.filters.timePeriod.selectedPeriod === '') {
        this.filters.timePeriod.selectedPeriod = Helpers.formatDate();
      } else {
        this.filters.timePeriod.selectedPeriod = Helpers.formatDate(this.filters.timePeriod.selectedPeriod);
      }
      this.filters.visible = false;
      this.requestData();
    },
    requestData() {
      this.resetState();
      Axios.get(Config.apiUrl + 'api/sessions/' + this.filters.timePeriod.currentRadio + '/' + this.filters.returnType.current).then(response => {
        let responseData = response.data;
        if (this.filters.timePeriod.currentRadio !== this.filters.timePeriod.oldRadio) {
          this.filters.timePeriod.list.length = 0;
          for (let key in responseData) {
            for (let data in responseData[key]) {
              if (!this.filters.timePeriod.list.includes(data)) {
                this.filters.timePeriod.list.push(data);
              }
            }
          }
          this.filters.timePeriod.list.sort();
          this.filters.timePeriod.selectedPeriod = this.filters.timePeriod.list[this.filters.timePeriod.list.length - 1];
          this.filters.timePeriod.oldRadio = this.filters.timePeriod.currentRadio;
        }

        switch (this.filters.returnType.current) {
          case 'time':
            this.filters.returnType.multiply = 60;
            break;
          default:
          case 'count':
            this.filters.returnType.multiply = 1;
            break;
        }

        for (let key in responseData) {
          let data = responseData[key][this.filters.timePeriod.selectedPeriod];
          if (data !== undefined) {
            if (data >= this.filters.section.current[this.filters.returnType.current][0] * this.filters.returnType.multiply && data <= this.filters.section.current[this.filters.returnType.current][1] * this.filters.returnType.multiply) {
              this.data.countFrequency[0] += 1;
              this.data.players[0].push(key.split('§')[0]);
            } else if (data >= this.filters.section.current[this.filters.returnType.current][2] * this.filters.returnType.multiply && data <= this.filters.section.current[this.filters.returnType.current][3] * this.filters.returnType.multiply) {
              this.data.countFrequency[1] += 1;
              this.data.players[1].push(key.split('§')[0]);
            } else if (data > this.filters.section.current[this.filters.returnType.current][3] * this.filters.returnType.multiply) {
              this.data.countFrequency[2] += 1;
              this.data.players[2].push(key.split('§')[0]);
            }
          }
        }
        var total = this.data.countFrequency.reduce((acc, val) => {
          return acc + val;
        });
        this.data.frequency = this.data.countFrequency.map(x => Number(x / total * 100).toFixed(2));
        this.loaded = true;
      })
      .catch(error => {
        Helpers.axiosErrorHandler.call(this, error);
      });
    },
    toggleFilters() {
      this.filters.visible = !this.filters.visible;
    },
    currentFormattedZone(date = moment.now()) {
      switch (this.filters.timePeriod.currentRadio) {
        case 'day':
          return moment(date, 'YYYY-MM-DD').format('DD.MM.YYYY');
        case 'week':
          return moment(date, 'YYYYWW').format('DD.MM.YYYY') + ' - ' + moment(date, 'YYYYWW').add(6, 'days').format(
            'DD.MM.YYYY');
        case 'month':
          return moment(date, 'YYYYM').format('MMMM YYYY');
        default:
          return 'No zone of that type!!';
      }
    },
    capitalizeFirstLetter(value) {
      return Helpers.capitalizeFirstLetter(value);
    }
  }
};
</script>
