<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Rockbasher stats
      </f7-nav-title>
    </f7-navbar>
    <f7-block-title>General information</f7-block-title>
    <f7-block>
      <!-- <img id="game-logo" src="https://www.rockbasher.com/images/logo.png" alt="Rockbasher logo" class="lazy center"/> -->
      <f7-list>
        <f7-list-item v-for="item in data.listData" :key="item.id">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-label>{{item.title}}</f7-label>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                {{item.data}}
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
      </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
import Config from '../config';
import Axios from 'axios';
import Helpers from '../helpers';

export default {
  name: 'Home',
  data() {
    return {
      data: {
        listData: []
      }
    };
  },
  mounted() {
    this.requestData();
  },
  methods: {
    requestData() {
      Axios.get(Config.apiUrl + 'api/global/home').then(response => {
        let responseData = response.data;
        responseData.forEach(obj => {
          this.data.listData.push(obj);
        });
      })
      .catch(error => {
        Helpers.axiosErrorHandler.call(this, error);
      });
    }
  }
};
</script>

