<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Chart - New players per week
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      <f7-list form>
        <f7-list-item>
          <f7-button icon-material="filter_list" v-on:click="toggleFilters">Filters</f7-button>
          {{displayRangeDate}}
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-label>Date range</f7-label>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <date-picker
                  v-model="filters.rangeDate"
                  lang="en"
                  :first-day-of-week="1"
                  range
                  format="dd.MM.yyyy"
                  confirm
                  @change="rangeDateChange"
                  :placeholder="displayRangeDate"
                  range-separator="-"
                  :shortcuts="false"
                />
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
      </f7-list>
    </f7-block>

    <f7-block class="chart-container">
      <complex-line-chart
        v-if="loaded"
        :width="width"
        :chartData="[data.newPlayers]"
        :chartLabels="labels"
        :dataLabel="['Number of new players']"
        :chartOptions="options"
      />
    </f7-block>
    <f7-block-title>Description</f7-block-title>
    <f7-block>
      This chart displays the number of new users (sign-ups) in a week. <br/>
      This does not tell us if that new user has played a map.
    </f7-block>
    <f7-block-title>How to use</f7-block-title>
    <f7-block>
      With the filter, the user can modify time time period of the chart.<br/>
      Hovering over or holding a point in the line will give the user the number of new players that week.
    </f7-block>
  </f7-page>
</template>

<script>
import Config from '../config';
import ComplexLineChart from '../components/ComplexLineChart';
import Axios from 'axios';
import moment from 'moment';
import DatePicker from 'vue2-datepicker';
import Helpers from '../helpers';

export default {
  name: 'NewPlayersWeek',
  components: {
    ComplexLineChart,
    DatePicker
  },
  data() {
    return {
      loaded: false,
      data: {
        newPlayers: []
      },
      labels: [],
      options: {
        responsive: false,
        animation: false,
        legend: {
          position: 'bottom'
        },
        scales: {
          yAxes: [{
            ticks: {
              min: 0
            }
          }]
        },
        tooltips: {
          callbacks: {
            title(tooltipItem, data) {
              let label = tooltipItem[0].xLabel;
              return Helpers.formatDate(moment(label, 'WW-YY'), 'ddd DD.MM.YYYY') + ' - ' + Helpers.formatDate(moment(label, 'WW-YY').add(6, 'days'), 'ddd DD.MM.YYYY');
            }
          }
        }
      },
      filters: {
        visible: false,
        rangeDate: ['', Helpers.formatDate(moment().endOf('isoWeek'))]
      }
    };
  },
  beforeMount() {
    // Done here because 'this.filters.rangeDate[1]' is 'null' in the 'data()'
    this.filters.rangeDate = [Helpers.formatDate(moment(this.filters.rangeDate[1]).subtract(40 * 7, 'days').startOf('isoWeek')), this.filters.rangeDate[1]];
  },
  mounted() {
    this.requestData();
  },
  computed: {
    width() {
      let deviceWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
      let calculatedWidth = 25 * this.labels.length;
      if (calculatedWidth > 32767 || deviceWidth > 32767) return 32767 / window.devicePixelRatio;
      return (deviceWidth > calculatedWidth) ? (deviceWidth >= 960) ? deviceWidth - 300 : deviceWidth - 25 : calculatedWidth;
    },
    displayRangeDate() {
      return Helpers.formatDate(this.filters.rangeDate[0], 'DD.MM.YYYY') + ' - ' + Helpers.formatDate(this.filters.rangeDate[1], 'DD.MM.YYYY');
    }
  },
  methods: {
    resetState() {
      this.loaded = false;
      this.data.newPlayers.splice(0, this.data.newPlayers.length);
      this.labels.splice(0, this.labels.length);
    },
    rangeDateChange() {
      this.filters.rangeDate.splice(0, 1, Helpers.formatDate(moment(this.filters.rangeDate[0]).startOf('isoWeek')));
      this.filters.rangeDate.splice(1, 1, Helpers.formatDate(moment(this.filters.rangeDate[1]).endOf('isoWeek')));
      this.requestData();
    },
    requestData() {
      this.resetState();
      Axios.get(Config.apiUrl + 'api/players/created/' + Helpers.formatDate(this.filters.rangeDate[0]) + '/' + Helpers.formatDate(this.filters.rangeDate[1])).then(response => {
        let responseData = response.data;
        let momentStartDate = moment(this.filters.rangeDate[0]);
        let momentEndDate = moment(this.filters.rangeDate[1]);
        let data = {};
        responseData.forEach(obj => {
          data[obj.date] = obj.count;
        });
        while (momentStartDate <= momentEndDate) {
          let formatedStartDate = Helpers.formatDate(momentStartDate, 'YYYYWW');
          if (data[formatedStartDate] !== undefined) {
            this.data.newPlayers.push(data[formatedStartDate]);
          } else {
            this.data.newPlayers.push(0);
          }
          this.labels.push(Helpers.formatDate(momentStartDate, 'WW-YY'));
          momentStartDate = momentStartDate.add(7, 'days');
        }
        this.loaded = true;
      })
      .catch(error => {
        Helpers.axiosErrorHandler.call(this, error);
      });
    },
    toggleFilters() {
      this.filters.visible = !this.filters.visible;
    }
  }
};
</script>
