<template>
  <f7-page>
    <f7-navbar back-link="Back" sliding>
      <f7-nav-title>
        Not found
      </f7-nav-title>
    </f7-navbar>
    <f7-block strong>
      <p>Sorry</p>
      <p>Requested content not found.</p>
    </f7-block>
  </f7-page>
</template>
<script>
export default {};
</script>
