<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Chart - Players time
      </f7-nav-title>
    </f7-navbar>
    <f7-block class="chart-container">
      <complex-horizontal-bar-chart
        v-if="loaded"
        :height="height"
        :chartData="[data.playersTime]"
        :chartLabels="labels"
        :dataLabel="['Total time played']"
        :chartOptions="options"
      />
    </f7-block>
    <f7-block-title>Description</f7-block-title>
    <f7-block>
      This chart displays the total play time of a player.
    </f7-block>
    <f7-block-title>How to use</f7-block-title>
    <f7-block>
      Hovering over or holding a section will give the user the detailed (hh:mm:ss) play time of that player.
    </f7-block>
  </f7-page>
</template>

<script>
import Config from '../config';
import ComplexHorizontalBarChart from '../components/ComplexHorizontalBarChart';
import Axios from 'axios';
import Helpers from '../helpers';

export default {
  name: 'PlayersTime',
  components: {
    ComplexHorizontalBarChart
  },
  data() {
    return {
      loaded: false,
      data: {
        playersTime: []
      },
      labels: [],
      options: {
        maintainAspectRatio: false,
        animation: false,
        legend: {
          position: 'bottom'
        },
        scales: {
          xAxes: [{
            type: 'logarithmic',
            ticks: {
              min: 0,
              userCallback(value) {
                if (value < 60) return value + 's';
                if (value < 3600) return Math.floor(value / 60) + 'm';
                return Math.round(value / 3600) + 'h';
              }
            }
          }]
        },
        tooltips: {
          callbacks: {
            label(tooltipItem, data) {
              return data.datasets[tooltipItem.datasetIndex].label + ': ' + Helpers.hhmmss(tooltipItem.xLabel);
            }
          }
        }
      }
    };
  },
  computed: {
    height() {
      let height = 75 + 25 * this.data.playersTime.length;
      if (height > 32767 / window.devicePixelRatio) return 32767 / window.devicePixelRatio;
      return height;
    }
  },
  mounted() {
    this.requestData();
  },
  methods: {
    resetState() {
      this.loaded = false;
      this.data.playersTime.splice(this.data.playersTime.length);
      this.labels.splice(this.labels.length);
    },
    requestData() {
      this.resetState();
      Axios.get(Config.apiUrl + 'api/players/time').then(response => {
        var responseData = response.data;
        this.data.playersTime = responseData.map(obj => obj.seconds);
        this.labels = responseData.map(obj => obj.username);
        this.loaded = true;
      })
      .catch(error => {
        Helpers.axiosErrorHandler.call(this, error);
      });
    }
  }
};
</script>
