<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Chart - Play time per week
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      <f7-list form>
        <f7-list-item>
          <f7-button icon-material="filter_list" v-on:click="toggleFilters">Filters</f7-button>
          {{displayRangeDate}}
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-label>Date range</f7-label>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <date-picker
                  v-model="filters.rangeDate"
                  lang="en"
                  :first-day-of-week="1"
                  range
                  format="dd.MM.yyyy"
                  confirm
                  @change="rangeDateChange"
                  :placeholder="displayRangeDate"
                  range-separator="-"
                  :shortcuts="false"
                />
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
      </f7-list>
    </f7-block>
    <f7-block class="chart-container">
      <complex-line-chart
        v-if="loaded"
        :width="width"
        :chartData="[data.median,data.average,data.total]"
        :chartLabels="labels"
        :dataLabel="['Median play time', 'Average play time', 'Total play time']"
        :axisInfo="[0,0,1]"
        :chartOptions="options"
      />
    </f7-block>
    <f7-block-title>Description</f7-block-title>
    <f7-block>
      This chart displays the median, average and total play time for a week of all the players combined.
    </f7-block>
    <f7-block-title>How to use</f7-block-title>
    <f7-block>
      By clicking on one of the legends the user can disable that specific data in the chart, by clicking it again the data is enabled. <br />
      Hovering over or holding a point in the line will give the user the median, average and total time for that week.
    </f7-block>
  </f7-page>
</template>

<script>
import Config from '../config';
import ComplexLineChart from '../components/ComplexLineChart';
import Axios from 'axios';
import moment from 'moment';
import DatePicker from 'vue2-datepicker';
import Helpers from '../helpers';

export default {
  name: 'PlayTimeWeek',
  components: {
    ComplexLineChart,
    DatePicker
  },
  data() {
    return {
      loaded: false,
      data: {
        median: [],
        average: [],
        total: []
      },
      labels: [],
      options: {
        responsive: false,
        legend: {
          position: 'bottom'
        },
        scales: {
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Week number'
            }
          }],
          yAxes: [{
            id: 0,
            position: 'left',
            ticks: {
              min: 0,
              userCallback(value) {
                return Helpers.hhmmss(value);
              },
              stepSize: 10 * 60
            },
            scaleLabel: {
              display: true,
              labelString: 'Time'
            }
          },
          {
            id: 1,
            position: 'right',
            ticks: {
              min: 0,
              userCallback(value) {
                return Helpers.hhmmss(value);
              },
              stepSize: 24 * 3600
            },
            scaleLabel: {
              display: true,
              labelString: 'Time'
            }
          }]
        },
        tooltips: {
          mode: 'index',
          callbacks: {
            title(tooltipItem, data) {
              let label = tooltipItem[0].xLabel;
              return moment(label, 'WW-YY').format('ddd DD.MM.YYYY') + ' - ' + moment(label, 'WW-YY').add(6, 'days').format('ddd DD.MM.YYYY');
            },
            label(tooltipItem, data) {
              return data.datasets[tooltipItem.datasetIndex].label + ': ' + Helpers.hhmmss(tooltipItem.yLabel);
            }
          }
        }
      },
      filters: {
        visible: false,
        // rangeDate: ['',Helpers.formatDate(moment().endOf('isoWeek'))]
        rangeDate: [Helpers.formatDate(moment('2018-03-01').startOf('isoWeek')), Helpers.formatDate(moment('2018-04-30').endOf('isoWeek'))]
      }
    };
  },
  beforeMount() {
    // Done here because 'this.filters.rangeDate[1]' is 'null' in the 'data()'
    // this.filters.rangeDate = [Helpers.formatDate(moment(this.filters.rangeDate[1]).subtract(4, 'months').startOf('isoWeek')), this.filters.rangeDate[1]];
  },
  mounted() {
    this.requestData();
  },
  computed: {
    width() {
      let deviceWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;
      let calculatedWidth = 25 * this.labels.length;
      if (calculatedWidth > 32767 || deviceWidth > 32767) return 32767 / window.devicePixelRatio;
      return (deviceWidth > calculatedWidth) ? (deviceWidth >= 960) ? deviceWidth - 300 : deviceWidth - 25 : calculatedWidth;
    },
    displayRangeDate() {
      return Helpers.formatDate(this.filters.rangeDate[0], 'DD.MM.YYYY') + ' - ' + Helpers.formatDate(this.filters.rangeDate[1], 'DD.MM.YYYY');
    }
  },
  methods: {
    resetState() {
      this.loaded = false;
      this.data.median.splice(0, this.data.median.length);
      this.data.average.splice(0, this.data.average.length);
      this.data.total.splice(0, this.data.total.length);
      this.labels.splice(0, this.labels.length);
    },
    rangeDateChange() {
      this.filters.rangeDate.splice(0, 1, Helpers.formatDate(moment(this.filters.rangeDate[0]).startOf('isoWeek')));
      this.filters.rangeDate.splice(1, 1, Helpers.formatDate(moment(this.filters.rangeDate[1]).endOf('isoWeek')));
      this.requestData();
    },
    requestData() {
      this.resetState();
      Axios.get(Config.apiUrl + 'api/play_time_week/' + Helpers.formatDate(this.filters.rangeDate[0]) + '/' + Helpers.formatDate(this.filters.rangeDate[1])).then(response => {
        var responseData = response.data;
        if (responseData.median.length === 0 && responseData.average.length === 0 && responseData.total.length === 0) {
          Helpers.f7Alert.call(this, 'No data for the selected weeks!', null);
          return;
        }
        this.data.median = responseData.median.map(obj => obj.seconds);
        this.data.average = responseData.average.map(obj => obj.seconds);
        this.data.total = responseData.total.map(obj => obj.seconds);
        this.labels = responseData.median.map(obj => {
          return Helpers.formatDate(obj.start_date, 'WW-YY');
        });
        this.loaded = true;
      })
      .catch(error => {
        Helpers.axiosErrorHandler.call(this, error);
      });
    },
    toggleFilters() {
      this.filters.visible = !this.filters.visible;
    }
  }
};
</script>
