<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Chart - Players absent ({{filters.absentPeriod}} days)
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      <f7-list form>
        <f7-list-item>
          <f7-button icon-material="filter_list" v-on:click="toggleFilters">Filters</f7-button>
          {{displayRangeDate}}
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-label>Date range</f7-label>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <date-picker
                  v-model="filters.rangeDate"
                  lang="en"
                  :first-day-of-week="1"
                  range
                  format="dd.MM.yyyy"
                  confirm
                  @change="rangeDateChange"
                  :placeholder="displayRangeDate"
                  range-separator="-"
                  :shortcuts="false"
                />
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-label>Absent period (days)</f7-label>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-input type="number" :value="filters.absentPeriod" @change="absentPeriodChange"/>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
      </f7-list>
    </f7-block>
    <f7-block class="chart-container">
      <simple-pie-chart
        v-if="loaded"
        :chartData="data.frequency"
        :chartLabels="labels"
        :chartOptions="options"
      />
    </f7-block>
    <f7-block-title>Description</f7-block-title>
    <f7-block>
      This chart displays the players that haven't played for {{filters.absentPeriod}} days and those that have. This chart only takes into account players that have at least played one game (one replay). <br/>
      By default the charts time period is set to the last 4 months.
    </f7-block>
    <f7-block-title>How to use</f7-block-title>
    <f7-block>
      With the filter, the user can change the time period of the chart. <br/>
      Hovering over or holding a section will give the user the percentage of players in that section and the total number of players in it.
    </f7-block>
  </f7-page>
</template>

<script>
import Config from '../config';
import SimplePieChart from '../components/SimplePieChart';
import Axios from 'axios';
import moment from 'moment';
import DatePicker from 'vue2-datepicker';
import Helpers from '../helpers';

export default {
  name: 'PlayersAbsent',
  components: {
    SimplePieChart,
    DatePicker
  },
  data() {
    return {
      loaded: false,
      data: {
        countFrequency: [0, 0],
        frequency: [0, 0],
        players: [
          [],
          []
        ]
      },
      filters: {
        visible: false,
        rangeDate: ['', Helpers.formatDate(moment('2018-04-01').endOf('month'))],
        absentPeriod: 30
      }
    };
  },
  computed: {
    labels() {
      return [
        'haven\'t played in ' + this.filters.absentPeriod + ' days',
        'have played in the last ' + this.filters.absentPeriod + ' days'
      ];
    },
    // Done here because we are adding the defaultChartOptions
    options() {
      let self = this;
      let options = Object.assign({}, Config.defaultChartOptions);
      options.tooltips = {
        callbacks: {
          label(tooltipItem, data) {
            return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + '% (' + self.data.countFrequency[tooltipItem.index] + ' players)';
          }
        }
      };
      options.onClick = (event, element) => {
        if (element[0] === undefined) return;
        const APP = self.$f7;
        let selectedPlayers = self.data.players[element[0]._index];
        let sectionTitle = element[0]._view.label;
        APP.router.navigate('/playerlist/', {
          context: {
            selectedPlayers,
            sectionTitle
          }
        });
      };
      return options;
    },
    displayRangeDate() {
      return Helpers.formatDate(this.filters.rangeDate[0], 'DD.MM.YYYY') + ' - ' + Helpers.formatDate(this.filters.rangeDate[1], 'DD.MM.YYYY');
    }
  },
  beforeMount() {
    // Done here because 'this.filters.rangeDate[1]' is 'null' in the 'data()'
    this.filters.rangeDate = [Helpers.formatDate(moment(this.filters.rangeDate[1]).subtract(4, 'months').startOf('month')), this.filters.rangeDate[1]];
  },
  mounted() {
    this.requestData();
  },
  methods: {
    resetState() {
      this.loaded = false;
      this.data.countFrequency.fill(0);
      this.data.frequency.fill(0);
      this.data.players = [
        [],
        []
      ];
    },
    rangeDateChange() {
      this.requestData();
    },
    absentPeriodChange(event) {
      this.filters.absentPeriod = event.target.value;
      this.requestData();
    },
    requestData() {
      this.resetState();
      Axios.get(Config.apiUrl + 'api/players/absent/' + this.filters.absentPeriod + '/' + Helpers.formatDate(this.filters.rangeDate[0]) + '/' + Helpers.formatDate(this.filters.rangeDate[1])).then(response => {
        let responseData = response.data;
        if (responseData.not_played !== undefined) {
          responseData.not_played.forEach(obj => {
            this.data.countFrequency[0] += 1;
            this.data.players[0].push(obj.username);
          });
        }
        if (responseData.did_play !== undefined) {
          responseData.did_play.forEach(obj => {
            this.data.countFrequency[1] += 1;
            this.data.players[1].push(obj.username);
          });
        }
        var total = this.data.countFrequency.reduce((acc, val) => {
          return acc + val;
        });
        this.data.frequency = this.data.countFrequency.map(x => Number(x / total * 100).toFixed(2));
        this.loaded = true;
      })
      .catch(error => {
        Helpers.axiosErrorHandler.call(this, error);
      });
    },
    toggleFilters() {
      this.filters.visible = !this.filters.visible;
    }
  }
};
</script>
