<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Chart - Number of wins/fails per map
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      <f7-list form>
        <f7-list-item>
          <f7-button icon-material="filter_list" v-on:click="toggleFilters">Filters</f7-button>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell><f7-label>Column</f7-label></f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="filtersColumn" value="fails" title="Fails" @change="filterChange($event,'column',0)" :checked="filters.column.selected[0]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="filtersColumn" value="wins" title="Wins" @change="filterChange($event,'column',1)" :checked="filters.column.selected[1]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
        <f7-list-item v-if="filters.visible">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell><f7-label>Order</f7-label></f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="filtersOrder" value="desc" title="Descending" @change="filterChange($event,'order',0)" :checked="filters.order.selected[0]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
            <f7-list-item-row>
              <f7-list-item-cell>
                <f7-list-item radio name="filtersOrder" value="asc" title="Ascending" @change="filterChange($event,'order',1)" :checked="filters.order.selected[1]"></f7-list-item>
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
      </f7-list>
    </f7-block>
    <f7-block class="chart-container">
      <complex-horizontal-bar-chart
        v-if="loaded"
        :height="height"
        :chartData="[data.wins,data.fails]"
        :chartLabels="labels"
        :dataLabel="['Wins', 'Fails']"
        :chartOptions="options"
        :axisInfo="[0,0]"
      />
    </f7-block>
    <f7-block-title>Description</f7-block-title>
    <f7-block>
        This chart displays the number of wins and fails of a map.
    </f7-block>
    <f7-block-title>How to use</f7-block-title>
    <f7-block>
      With the filters, the user can modify which column is affected by the order as well as if the order is ascending or descending.<br/>
      Hovering over or holding a section will give the user the specific number of wins and fails for that map.
    </f7-block>
  </f7-page>
</template>

<script>
import Config from '../config';
import ComplexHorizontalBarChart from '../components/ComplexHorizontalBarChart';
import Axios from 'axios';
import Helpers from '../helpers';

export default {
  name: 'WinsFailsMap',
  components: {
    ComplexHorizontalBarChart
  },
  data() {
    return {
      loaded: false,
      data: {
        wins: [],
        fails: []
      },
      labels: [],
      options: {
        maintainAspectRatio: false,
        animation: false,
        legend: {
          position: 'bottom'
        },
        scales: {
          xAxes: [{
            type: 'logarithmic',
            ticks: {
              min: 0,
              callback(value, index, values) {
                return Number(value.toString());
              }
            }
          }]
        }
      },
      filters: {
        visible: false,
        column: {
          current: 'fails',
          selected: [true, false]
        },
        order: {
          current: 'desc',
          selected: [true, false]
        }
      }
    };
  },
  computed: {
    height() {
      let height = 75 + 40 * this.data.wins.length;
      if (height > 32767 / window.devicePixelRatio) return 32767 / window.devicePixelRatio;
      return height;
    }
  },
  mounted() {
    this.requestData();
  },
  methods: {
    resetState() {
      this.loaded = false;
      this.data.wins.splice(0, this.data.wins.length);
      this.data.fails.splice(0, this.data.fails.length);
      this.labels.splice(0, this.labels.length);
    },
    filterChange(event, filter, index) {
      this.filters[filter].selected.fill(false);
      this.filters[filter].selected[index] = true;
      this.filters[filter].current = event.target.value;
      this.requestData();
    },
    requestData() {
      this.resetState();
      Axios.get(Config.apiUrl + 'api/maps/wins_fails/' + this.filters.column.current + '/' + this.filters.order.current).then(response => {
        var responseData = response.data;
        responseData.forEach(obj => {
          this.data.wins.push(obj.wins);
          this.data.fails.push(obj.fails);
          this.labels.push(obj.map_name);
        });
        this.loaded = true;
      })
      .catch(error => {
        Helpers.axiosErrorHandler.call(this, error);
      });
    },
    toggleFilters() {
      this.filters.visible = !this.filters.visible;
    }
  }
};
</script>
