<template>
  <f7-panel left :reveal="isiOS" :effect="panelEffect">
    <f7-navbar title="Menu"></f7-navbar>
    <!-- force page background color to white if on iOS -->
    <f7-page :style="pageStyle">
      <f7-list>
        <f7-list-item
          link="/"
          title="Home"
          link-view="#main-view"
          panel-close
          reload-all
        />
      </f7-list>
      <f7-block-title>Charts</f7-block-title>
      <f7-list>
        <f7-list-item
          link="/dayplayers/"
          title="Players in a day"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
          link="/frequencyplayers/"
          title="Frequency players"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
          link="/averageplaymap/"
          title="Average map play count"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
          link="/playerstime/"
          title="Players time"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
          link="/playtimeweek/"
          title="Play time per week"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
          link="/playersabsent/"
          title="Players absent"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
          link="/newplayersweek/"
          title="New players per week"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
          link="/winsfailsmap/"
          title="Nb wins/fails per map"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
          link="/failsmapplayer/"
          title="Fails before win"
          link-view="#main-view"
          panel-close
          reload-all
        />
      </f7-list>
    </f7-page>
  </f7-panel>
</template>

<script>
export default {
  name: 'LeftPanel',
  data() {
    return {
      isMaterial: window.isMaterial,
      isiOS: window.isiOS
    };
  },
  computed: {
    pageStyle() {
      return this.isiOS ? 'background-color: white;' : '';
    },
    panelEffect() {
      return this.isiOS ? 'reveal' : 'cover';
    }
  }
};
</script>
<style scoped>
@media (min-width: 960px) {
  .panel.panel-left {
    border-right: 1px solid #b2b2b2;
  }
}
</style>
