<template>
  <f7-page>
    <f7-navbar sliding>
      <f7-nav-left back-link>
      </f7-nav-left>
      <f7-nav-title>
        Player list
      </f7-nav-title>
    </f7-navbar>
    <f7-block>
      List of players that {{sectionTitle}}.
    </f7-block>
    <f7-block>
      <f7-list>
        <f7-list-item v-for="playerRow in players" :key="playerRow.id">
          <f7-list-item-cell>
            <f7-list-item-row>
              <f7-list-item-cell v-for="player in playerRow" :key="player.id">
                {{player}}
              </f7-list-item-cell>
            </f7-list-item-row>
          </f7-list-item-cell>
        </f7-list-item>
      </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'PlayerList',
  data() {
    return {
      players: [],
      sectionTitle: ''
    }
  },
  on: {
    pageInit: function (e, page) {
      let selectedPlayers = page.route.context.selectedPlayers;
      this.sectionTitle = page.route.context.sectionTitle;
      selectedPlayers.sort((a,b) => {
        return a.localeCompare(b, 'en', {'sensitivity': 'base'});
      });
      for (let i = 0; i < selectedPlayers.length; i += 2) {
        let buildTable = [];
        buildTable.push(selectedPlayers[i]);
        if (i + 1 < selectedPlayers.length) buildTable.push(selectedPlayers[i+1]);
        this.players.push(buildTable);
      }
    },
  }
};
</script>
