/* Your app styles here */
.center {
  display: block;
  margin: 0 auto;
}

.square {
  display: inline-block;
  width: 40px;
  height: 11px;
}

.chart-container {
  z-index: -1;
  width: 100%;
  overflow: auto;
}

.pointer:hover {
  cursor: pointer;
  color: rgba(255, 153, 0, 1);
}

/* #game-logo {
  max-width: 150px;
  max-height: 150px;
} */
